<div class="row footer-divider">
</div>

<div class="contacts-bar row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="logo-holder">
    <img src="../assets/images/facebook-logo.png" />
    <img src="../assets/images/twitter-logo.png"/>
    <img src="../assets/images/instagram-logo.png" />
    <img src="../assets/images/pinterest-logo.png" />
  </div>
</div>

<!--  <div class="row footer-divider">
</div>

<div class="row footer fill-div" style="background-image: url(assets/images/la-beach.png);">

  <div class="row footer-text">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="col-xs-4 footer-col">
        <div class="footer-col-inner">
          <h3>Col1</h3>
          <br>
          <a href="https://www.google.com"><p>Link1</p></a>
        </div>
      </div>
      <div class="col-xs-4 footer-col">
        <div class="footer-col-inner">
          <h3>Col2</h3>
          <br>
          <a href="https://www.google.com"><p>Link2</p></a>
        </div>
      </div>
      <div class="col-xs-4 footer-col">
        <div class="footer-col-inner">
          <h3>Col3</h3>
          <br>
          <a href="https://www.google.com"><p>Link3</p></a>
        </div>
      </div>
    </div>
  </div>
    
</div> -->