<nav-bar></nav-bar>

<div class="row">
  <div
    class="fill-screen col-xs-12 parallax-window"
    data-parallax="scroll"
    data-speed="0"
    data-image-src="../../../assets/images/clothing-shop.jpg"
  >
    <div class="row">
      <div class="col-xs-12 col-md-6 contact-box">
        <div class="col-xs-12 contact-box-header">Contact Us</div>

        <div class="col-xs-12 col-md-4 contact-col">
          <h1>Address :</h1>
          <p>22 Trucker Street, Soho, London, W1F 7EX</p>
        </div>
        <div class="col-xs-12 col-md-4 contact-col">
          <h1>Phone Number :</h1>
          <p>602-202-5040</p>
        </div>
        <div class="col-xs-12 col-md-4 contact-col">
          <h1>Hours :</h1>
          <p>Mon - Sat 10.00am - 19.00pm</p>
          <p>Sun - 12.00pm - 18.00pm</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
