<nav-bar></nav-bar>

<div class="row">
  <div
    class="col-xs-12 fill-div parallax-window"
    data-parallax="scroll"
    data-speed="0"
    data-image-src="../../../assets/images/new-york-street-fix.jpg"
    style="overflow: hidden;"
  >
    <div class="row">
      <img
        id="top-logo-center"
        class="col-xs-6 col-xs-offset-3 hidden-sm hidden-md hidden-lg hidden-xl"
        src="../../../assets/images/loud-apparel-logo.png"
      />
      <!-- <video autoplay loop id="video-background" class="col-xs-12">
        <source src="../../assets/videos/Golden_Gate_Traffic/Golden_Gate_Traffic.mp4" type="video/mp4">
      </video> -->
      <img
        id="about-img-main"
        class="col-xs-12 col-sm-6 col-sm-offset-6"
        src="../../assets/images/new-york-office.jpg"
        data-scroll-speed="3"
      />
    </div>

    <div class="row">
      <div class="col-xs-12 about-text">
        <div
          class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2"
        >
          <h2>About Us...</h2>
          <p>
            Lorem ipsum dolor sit aea commodo consequat. Dptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Lorem ipsum dolor sit aea commodo consequat.
            Dptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>

    <div class="collage-container col-xs-12 col-md-10 col-md-offset-1">
      <img
        class="col-xs-10 col-md-6 col-md-offset-1 about-img about-img-1"
        src="../../assets/images/clothing-designer.png"
        data-scroll-speed="3"
      />
      <img
        class="col-xs-8 col-xs-offset-3 col-md-5 col-md-offset-6 about-img about-img-2"
        src="../../assets/images/designer-2.jpg"
        data-scroll-speed="1"
      />
      <img
        class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-2 about-img about-img-3"
        src="../../assets/images/women-working.png"
        data-scroll-speed="2"
      />
      <img
        class="col-xs-8 col-xs-offset-4 col-md-6 col-md-offset-4 about-img about-img-4"
        src="../../assets/images/designer-3.jpg"
        data-scroll-speed="3"
      />
    </div>
  </div>
</div>

<div class="row">
  <div
    class="col-xs-12 fill-div parallax-window"
    data-parallax="scroll"
    data-speed="0"
    data-image-src="../../../assets/images/la-skyline-old-fixed.jpg"
  >
    <div class="row banner">
      <div class="col-xs-12">
        <div class="row est-banner-line"></div>
        <h1>Est. 1976</h1>
        <div class="row est-banner-line"></div>
      </div>
    </div>

    <div class="est-section row">
      <div class="est-text">
        <p>
          Lorem ipsum dolor sit aea commodo consequat. Dptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum. Lorem ipsum dolor sit aea commodo consequat. Dptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat timest non proident.
        </p>
        <br />
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit aea
          commodo consequat. Dptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat timest non.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
