/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Seaweed+Script");
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  overflow-x: hidden;
}

.fill-screen {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.fill-screen-half {
  background-size: cover;
  background-position: top;
  height: 50vh;
}

.fill-screen-left {
  background-size: cover;
  background-position: 0% 50%;
  height: 50vh;
}

.fill-screen-right {
  background-size: cover;
  background-position: 100% 50%;
  height: 50vh;
}

.fill-screen-center {
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.fill-div {
  background-size: cover;
  background-position: center;
}

.fill-div-left {
  background-size: cover;
  background-position: left;
}

.fill-div-right {
  background-size: cover;
  background-position: right;
}

.fill-div-top {
  background-size: cover;
  background-position: center;
}

a {
  z-index: 100;
}

a:hover {
  cursor: pointer;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fill-screen-left {
    height: 100vh;
  }

  .fill-screen-right {
    height: 100vh;
  }

  .fill-screen-center {
    height: 100vh;
  }
}
